.App {
  text-align: center;
}
.container {
  display: flex;
  margin: 0 auto;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.container > h1 {
  margin-top: 8rem;
}
form {
  width: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 10px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 3rem;
  /* background-color: #555; */
  box-sizing: border-box;
}
form label {
  display: block;
  text-align: start;
}
form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 1em;
  padding: 15px;
  border-radius: 8px;
  border: 0.5px solid #aaa;
}
form input:focus {
  outline: none;
}
form button {
  background-color: #4babdf;
  color: #fff;
  font-weight: 700;
  font-size: 1.2em;
  padding: 14px 17px;
  border-radius: 8px;
  border: none;
}
form button:disabled {
  background-color: #aaa;
}
form span {
  color: #666;
  padding-left: 10px;
  text-align: end;
  font-size: 0.8em;
}
